
.bidtorrent-debug {
	font:	normal normal normal 12px Arial;
}

.bidtorrent-debug .bidder {
	padding:			4px 8px;
	margin:				8px 0;
	background-color:	#DDD;
    border:				1px solid transparent;
    border-radius:		4px;
    color:				#AAA;
}

.bidtorrent-debug .bidder .name {
    display:		block;
    font-weight:	bold;
}

.bidtorrent-debug .bidder .info {
	display:	block;
	font-style:	italic;
	text-align:	right;
}

.bidtorrent-debug .bidder.error {
    color:				#a94442;
    background-color:	#f2dede;
    border-color:		#ebccd1;
}

.bidtorrent-debug .bidder.filter {
    color:				#000000;
    background-color:	#FFFFFF;
    border-color:		#666666;
}

.bidtorrent-debug .bidder.valid {
    color:				#31708f;
    background-color:	#d9edf7;
    border-color:		#bce8f1;
}

.bidtorrent-debug .bidder.winner {
    color:				#3c763d;
    background-color:	#dff0d8;
    border-color:		#d6e9c6;
}
